<%
var data = {
  title: "Заголовок | Проект",
  author: "btcdevel"
};

%>
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="css/style.bundle.css" />
    <title>Pay</title>
  </head>
  <body>
<%= _.template(require('./../includes/g_section-tariffs.html').default)(data) %>
<%= _.template(require('./../includes/scripts.html').default)(data) %>
  </body>
</html>
