.g_settings-tariffs {
    &__header-wrapper {
        background-color: #F9F9F9;
        padding: 45px 0;
    }

    &__header {
        @include desktop-1024 {
            padding: 45px 20px;
        }
    }

    &__header-title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 30px;
        text-align: center;
        @include desktop-1024 {
            font-size: 28px;
        }
    }

    &__header-form {
        display: flex;
        justify-content: space-between;
    }

    &__header-inputs {
        display: flex;
        justify-content: space-between;
        @include desktop-1024 {

        }
    }

    &__header-filter-turnover {
        position: relative;
        width: 48%;
    }

    &__header-input-turnover {
        -webkit-appearance: none;
        box-shadow: none !important;
        border: 1px solid #E5E5E5;
        color: rgba(0, 0, 0, 0.5);
        // border-bottom: none;
        outline: none;
        padding: 15px;
        box-sizing: border-box;
        width: 100%;
        border-radius: 6px 6px 0 0;
        font-size: 19px;
    }

    &__header-select {
        box-shadow: none !important;
        color: rgba(0, 0, 0, 0.5);
        border: 1px solid #E5E5E5;
        outline: none;
        padding: 15px;
        box-sizing: border-box;
        width: 48%;
        border-radius: 6px;
        font-size: 19px;
    }

    &__content-row {
        height: 80px;
        border-bottom: 1px solid #F1F1F1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;

        &_style {
            &_left {
                justify-content: flex-start;
            }
        }
        @include desktop-1024 {
            justify-content: center;
            font-size: 15px;
            &_style {
                &_left {
                    justify-content: flex-start;
                }
            }
        }
    }

    &__content-header {
        display: flex;
        justify-content: space-between;
        @include desktop-1024 {
            padding: 0 20px;
        }
    }

    &__content-title {
        font-weight: bold;
        width: 75%;
        font-size: 18px;
    }

    &__content-tariff {
        width: 25%;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5)
    }

    &__content-flow {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    &__content-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0;

        @include desktop-1024 {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            width: 75%;
        }
    }

    &__content-right {
        text-align: center;
        justify-content: center;
        width: 25%;
    }

    &__content-system {
        margin-bottom: 10px;
        font-size: 16px;
        @include desktop-1024 {
            font-size: 18px;
            margin-right: 15%;
            min-width: 225px;
        }
    }

    &__content-icons {
        flex-grow: 1;

        &:hover .g_settings-tariffs__content-icon {
            margin-left: 0;
        }
    }
    &__content-icon {
        transition: 0.4s;
        &:nth-child(1) {
            margin-left: 0;
        }
        // &:first-child {
        //     transition: 0.4s;
        //     // margin-left: -20px;
        // }
        margin-left: -20px;
        width: 40px;

        @include desktop-1024 {
            width: 50px;
        }
    }
    &__content-total {
        text-align: center;
        justify-content: center;
        width: 25%;
        font-size: 18px;
    }
    &__content-note {
        min-width: auto;
        margin: 0;
        margin-bottom: 10px;
        font-size: 16px;
    }


    &__logo-block {
        @include desktop-1024 {
            display: flex;
            align-items: center;
        }
    }

    &__logout-icon {
        background: url(../img/header__logout-icon.png) no-repeat;
        width: 22px;
        height: 22px;
    }
}
